body{
    background-image: url("../images/mainbg_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;

}

.no-data-link{
font-size:12px;
}

.sft-cnt-header{
margin-bottom: 25px
}

.sft-header{
    color:white;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    text-align: center;
}

.sft-cnt-footer{
background-color: rgba(0,0,0,0.95) !important;
padding:10px;
}

.sft-main-content{
color: white !important;
min-height: 100vh
}

.sft-footer{
    color:white;
    font-size: 0.9rem;
    text-align: center;
}

.sft-nav-menu{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sft-form-btns-div{
    margin-bottom: 15px;
    margin-top: 25px;
    text-align: center;
}

.sft-form-cntnt-div{
    width: 900px;
    margin: 0 auto;
    /*color:#212529 !important;*/
    color:white !important;
}

.alerts-div{
    width: 800px;
    margin: 0 auto;
}

.card-img-cust{
width:300px;
height:200px;
}

.btn-info-cust{
margin: 7px 0 7px 0;
}

.card-title-cust{
font-size: 1.00rem;
font-weight: bolder;
/*color: #eb0e50;*/
color:white;
}

.soft-title-logo{
width:40px;
height:40px;
}

.soft-title-logo-flip{
width:40px;
height:40px;
transform: rotateY(180deg);
}

.card-cust{
background-color: rgba(0,0,0,0.9) !important
}

.btn-sec-cust{
/*background-color:#3fada8 !important*/
}

.btn-icon{
width:40px;
height:40px;
padding-right:5px
}

.input-tb{
max-width:95px
}

.mv-hr{
border-color:white
}

.bagging-div{
margin-left:20px !important
}

.info-class{
width: 12px;
height:12px;
margin-left:3px;
cursor: pointer;
vertical-align:top !important
}

.breadcrumb-sft-cust{
display:table-cell !important
}

.db_paths_form{
color:white !important;
margin: 10px;
}

.update_paths_btn{
margin-top:32px;
}

.log_scroll{
  width:100%;
  height: 400px;
  float:left;
  overflow-y:scroll;
}

.log_viewer{
white-space: pre-line;
margin: 0 0.25rem;
}

.card-cust-jd{
padding:0.5rem 2rem !important
}

