{% from "macros.html" import entry, thead, breadcrumb
with context %}
{% extends "layout.html" %}
{% block content %}
{% block meta %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('__autoindex__.static', filename='autoindex.css') }}"/>
{% endblock %}


{% block header %}{% endblock %}
{% block table %}
<table>
    <thead>
    {{ thead() }}
    {% if not curdir.is_root() %}
    <tr>
        <td class="breadcrumb breadcrumb-sft-cust" colspan="4">
            <h1>{{ breadcrumb(curdir) }}</h1>
        </td>
    </tr>
    {% endif %}
    </thead>
    <tbody>
    {% for ent in entries %}
    {{ entry(ent) }}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
<!--  {% block footer %}-->
<!--    {% set env = request.environ %}-->
<!--    <address>{{ env.SERVER_SOFTWARE }}-->
<!--      Server at {{ env.HTTP_HOST }}-->
<!--      Port {{ env.SERVER_PORT }}</address>-->
<!--  {% endblock %}-->

{% endblock content %}
