{% extends "layout.html" %}
{% block content %}
<input type="hidden" id="job_type" name="job_type" value="user_uploaded" form="ml_job_frm">
<form method="POST" id="ml_job_frm" enctype=multipart/form-data>
    <div class="sft-form-btns-div">
        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success"
                title="Create Job!">
            <b><img class="btn-icon" src="../static/images/create_job.svg"
                    alt="Create Job"/><em>CREATE JOB</em></b>
        </button>
        <button type="button" class="btn btn-danger" title="Reset Job" onclick="reset_ml_job_form()">
            <b><img class="btn-icon" src="../static/images/reset_job.svg"
                    alt="Reset Job"/><em>RESET JOB</em></b>
        </button>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="job_description">Add Job Description</label>
                        <textarea id="job_description" name="job_description" class="form-control"
                                  rows="3" placeholder="Upto 100 plain-text chars"
                                  aria-describedby="jd_help"></textarea>
                        <small id="jd_help" class="form-text text-muted">It can be used to refer to job later
                            in-case you forget job-id</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="chkSubmit" class="btn btn-secondary">Create Job</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sft-form-cntnt-div">
        <div class="row">
            <div class="card-group">
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/upload_data.svg"
                         class="card-img-top card-img-cust embed-responsive-item"
                         alt="STEP 1: Upload Dataset">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 1: UPLOAD DATASET</h5>

                        <div class="card-text">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="user_file" name="user_file">

                                <a class="no-data-link" data-toggle="modal" data-target="#exampleModalCenter" href="#"
                                   onclick="set_default_job_params()">
                                    Don't have data? Try using our example data
                                </a>

                            </div>
                            <fieldset>
                                <legend>Data Split</legend>
                                <div class="form-group">
                                    <label for="tts_train_per" class="sr-only">Train Split</label>
                                    <input id="tts_train_per" name="tts_train_per" class="form-control"
                                           placeholder="Train Split" value="70">
                                </div>

                                <div class="form-group">
                                    <label for="tts_test_per" class="sr-only">Test Split</label>
                                    <input id="tts_test_per" name="tts_test_per" class="form-control"
                                           placeholder="Test Split" value="30">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/feature_generation.svg"
                         class="card-img-top card-img-cust embed-responsive-item" alt="STEP 2: Feature Generation">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 2: FEATURE GENERATION</h5>
                        <div class="card-text">
                            <button type="button" class="btn btn-light btn-info-cust" title="Generate Descriptors">
                                <h6><b>I. Generate Chemical Descriptors</b></h6>
                            </button>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="fg_padelpy_flg" name="fg_padelpy_flg"
                                       class="form-check-input">
                                <label class="form-check-label" for="fg_padelpy_flg">Padel</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="fg_mordered_flg" name="fg_mordered_flg"
                                       class="form-check-input" checked>
                                <label class="form-check-label" for="fg_mordered_flg">Mordred</label>
                            </div>

                            <button type="button" class="btn btn-light btn-info-cust" title="Pre processing Steps">
                                <h6><b>II. Choose Pre processing Steps</b></h6>
                            </button>

                            <fieldset>
                                <legend>Missing Values</legend>

                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="pp_mv_col_pruning_flg" class="form-check-input"
                                                   id="pp_mv_col_pruning_flg" checked>
                                            <label class="form-check-label" for="pp_mv_col_pruning_flg">Prune
                                                Columns</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="prunecolumns" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="pp_mv_col_pruning_th" class="sr-only">Prune Column
                                                Threshold</label>
                                            <input type="text" id="pp_mv_col_pruning_th" name="pp_mv_col_pruning_th"
                                                   class="form-control form-control-sm"
                                                   placeholder="Threshold" value="75"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="pp_mv_imputation_flg"
                                           id="pp_mv_imputation_flg" checked>
                                    <label class="form-check-label" for="pp_mv_imputation_flg">Impute with Mean</label>
                                </div>

                            </fieldset>

                            <!--                        <hr>-->

                            <div class="form-row">
                                <div class="col-xs-6">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="pp_vt_flg" id="pp_vt_flg"
                                               checked>
                                        <label class="form-check-label" for="pp_vt_flg">Variance Removal</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="dvVariance" class="form-group" style="display: none; max-width: 85px">
                                        <label for="pp_vt_th" class="sr-only">Variance Threshold</label>
                                        <input type="text" id="pp_vt_th" name="pp_vt_th"
                                               class="form-control form-control-sm"
                                               placeholder="Threshold" value="0"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-xs-6">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="pp_cr_flg" id="pp_cr_flg"
                                               checked>
                                        <label class="form-check-label" for="pp_cr_flg">Correlation Check</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="dvCorrelation" class="form-group" style="display: none; max-width: 85px">
                                        <label for="pp_cr_th" class="sr-only">Correlation Threshold</label>
                                        <input type="text" id="pp_cr_th" name="pp_cr_th"
                                               class="form-control form-control-sm"
                                               placeholder="Threshold" value="0.95"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="pp_normalization_flg"
                                       id="pp_normalization_flg" checked>
                                <label class="form-check-label" for="pp_normalization_flg">Normalize</label>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="pp_climb_smote_flg"
                                       id="pp_climb_smote_flg" checked>
                                <label class="form-check-label" for="pp_climb_smote_flg">SMOTE</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/feature_reduction.svg"
                         class="card-img-top card-img-cust embed-responsive-item" alt="STEP 3: Feature Reduction">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 3: FEATURE REDUCTION </h5>
                        <button type="button" class="btn btn-light btn-info-cust" title="Pre processing Steps">
                            <h6><b>I. Feature Selection</b></h6>
                        </button>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="fs_boruta_flg" id="fs_boruta_flg"
                                   checked>
                            <label class="form-check-label" for="fs_boruta_flg">Boruta</label>
                        </div>

                        <button type="button" class="btn btn-light btn-info-cust" title="Pre processing Steps">
                            <h6><b>II. Feature Extraction</b></h6>
                        </button>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="fe_pca_flg" id="fe_pca_flg" checked>
                            <label class="form-check-label" for="fe_pca_flg">PCA</label>
                        </div>

                        <div id="pca" class="form-group" style="display: none;">
                            <label for="fe_pca_energy" class="sr-only">Eigen Energy</label>
                            <input type="text" id="fe_pca_energy" name="fe_pca_energy"
                                   class="form-control"
                                   placeholder="Eigen Energy" value="0.98"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-group">
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/classification.svg"
                         class="card-img-top card-img-cust embed-responsive-item" alt="STEP 4: Classification">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 5: CLASSIFICATION</h5>
                        <div class="card-text">
                            <button type="button" class="btn btn-light btn-info-cust" title="Tuning Method">
                                <h6><b>Choose the Tuning Method</b></h6>
                            </button>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_svm_flg" id="clf_svm_flg"
                                >
                                <label class="form-check-label" for="clf_svm_flg">SVM</label>
                            </div>

                            <div id="svm" style="display: none">
                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_svm"
                                                   id="clf_bagging_svm">
                                            <label class="form-check-label" for="clf_bagging_svm">Bagging of
                                                SVM</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_svm_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_svm_n" class="sr-only">SVM Bagging</label>
                                            <input type="text" id="clf_bag_svm_n" name="clf_bag_svm_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_et_flg" id="clf_et_flg">
                                <label class="form-check-label" for="clf_et_flg">Extra Tree</label>
                            </div>

                            <div id="extratrees" style="display: none">

                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_et"
                                                   id="clf_bagging_et">
                                            <label class="form-check-label" for="clf_bagging_et">Bagging of
                                                ET</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_et_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_et_n" class="sr-only">ET Bagging</label>
                                            <input type="text" id="clf_bag_et_n" name="clf_bag_et_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_lr_flg" id="clf_lr_flg"
                                       checked>
                                <label class="form-check-label" for="clf_lr_flg">Logistic Regression</label>
                            </div>

                            <div id="LR" style="display: none">

                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_lr"
                                                   id="clf_bagging_lr" checked>
                                            <label class="form-check-label" for="clf_bagging_lr">Bagging of
                                                LR</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_lr_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_lr_n" class="sr-only">LR Bagging</label>
                                            <input type="text" id="clf_bag_lr_n" name="clf_bag_lr_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_gnb_flg" id="clf_gnb_flg"
                                       checked>
                                <label class="form-check-label" for="clf_gnb_flg">Gaussian Naive Bayes</label>
                            </div>

                            <div id="GNB" style="display: none">

                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_gnb"
                                                   id="clf_bagging_gnb" checked>
                                            <label class="form-check-label" for="clf_bagging_gnb">Bagging of
                                                GNB</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_gnb_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_gnb_n" class="sr-only">GNB Bagging</label>
                                            <input type="text" id="clf_bag_gnb_n" name="clf_bag_gnb_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_gbm_flg" id="clf_gbm_flg">
                                <label class="form-check-label" for="clf_gbm_flg">Gradient Boosting Machine</label>
                            </div>

                            <div id="gbm" style="display: none">

                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_gbm"
                                                   id="clf_bagging_gbm">
                                            <label class="form-check-label" for="clf_bagging_gbm">Bagging of
                                                GBM</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_gbm_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_gbm_n" class="sr-only">GBM Bagging</label>
                                            <input type="text" id="clf_bag_gbm_n" name="clf_bag_gbm_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_rf_flg" id="clf_rf_flg"
                                >
                                <label class="form-check-label" for="clf_rf_flg">Random Forest</label>
                            </div>

                            <div id="rforest" style="display: none">
                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_rf"
                                                   id="clf_bagging_rf">
                                            <label class="form-check-label" for="clf_bagging_rf">Bagging of
                                                RF</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_rf_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_rf_n" class="sr-only">RF Bagging</label>
                                            <input type="text" id="clf_bag_rf_n" name="clf_bag_rf_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="clf_mlp_flg" id="clf_mlp_flg"
                                >
                                <label class="form-check-label" for="clf_mlp_flg">Multi-Layer Perceptron</label>
                            </div>

                            <div id="mlp" style="display: none">
                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="clf_bagging_mlp"
                                                   id="clf_bagging_mlp">
                                            <label class="form-check-label" for="clf_bagging_mlp">Bagging of
                                                MLP</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div id="dv_bag_mlp_n" class="form-group"
                                             style="display: none; max-width: 85px">
                                            <label for="clf_bag_mlp_n" class="sr-only">MLP Bagging</label>
                                            <input type="text" id="clf_bag_mlp_n" name="clf_bag_mlp_n"
                                                   class="form-control form-control-sm"
                                                   placeholder="# of times" value="1000"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/data_validation.svg"
                         class="card-img-top card-img-cust embed-responsive-item" alt="STEP 5: Validation">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 6: VALIDATION SCHEME</h5>
                        <div class="card-text">

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="cv_3fold_flg" id="cv_3fold_flg"
                                       checked>
                                <label class="form-check-label" for="cv_3fold_flg">3-Fold Cross Validation </label>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="cv_5fold_flg" id="cv_5fold_flg"
                                >
                                <label class="form-check-label" for="cv_5fold_flg">5-Fold Cross Validation </label>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="cv_loocv_flg" id="cv_loocv_flg">
                                <label class="form-check-label" for="cv_loocv_flg">Leave One Out Cross
                                    Validation </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card card-cust border-primary mb-3">
                    <img src="../static/images/databases.svg"
                         class="card-img-top card-img-cust embed-responsive-item" alt="STEP 6: Test Set Generation">
                    <div class="card-body">
                        <h5 class="card-title card-title-cust">STEP 7: TEST SET GENERATION</h5>
                        <button type="button" class="btn btn-light btn-info-cust" title="Search Database">
                            <h6><b>Search Database</b></h6>
                        </button>

                        <div class="form-group">

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="db_hmdb_flg" name="db_hmdb_flg"
                                       onclick="show_simililarity_measures()">
                                <label class="form-check-label" for="db_hmdb_flg">HMDB</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="db_foodb_flg" name="db_foodb_flg"
                                       onclick="show_simililarity_measures()">
                                <label class="form-check-label" for="db_foodb_flg">FOODB</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="db_imppat_flg" name="db_imppat_flg"
                                       onclick="show_simililarity_measures()" checked>
                                <label class="form-check-label" for="db_imppat_flg">IMMPAT</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="db_chebi_flg" name="db_chebi_flg"
                                       onclick="show_simililarity_measures()">
                                <label class="form-check-label" for="db_chebi_flg">CHEBI</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" id="db_pubchem_flg"
                                       name="db_pubchem_flg"
                                       onclick="show_simililarity_measures()">
                                <label class="form-check-label" for="db_pubchem_flg">PubChem</label>
                            </div>

                        </div>

                        <div id="sim_msrs_div" style="display:none;">

                            <button type="button" class="btn btn-light btn-info-cust" title="Similarity Measure">
                                <h6><b>Choose Similarity Measure</b></h6>
                            </button>

                            <div class="form-group">

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_tanimoto_flg"
                                           name="sim_tanimoto_flg" checked>
                                    <label class="form-check-label" for="sim_tanimoto_flg">Tanimoto</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_dice_flg"
                                           name="sim_dice_flg" checked>
                                    <label class="form-check-label" for="sim_dice_flg">Dice</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_cosine_flg"
                                           name="sim_cosine_flg">
                                    <label class="form-check-label" for="sim_cosine_flg">Cosine</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_euclidean_flg"
                                           name="sim_euclidean_flg">
                                    <label class="form-check-label" for="sim_euclidean_flg">Euclidean</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_manhattan_flg"
                                           name="sim_manhattan_flg">
                                    <label class="form-check-label" for="sim_manhattan_flg">Manhattan</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="sim_soergel_flg"
                                           name="sim_soergel_flg">
                                    <label class="form-check-label" for="sim_soergel_flg">Soergel</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}