<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ML Pipeline</title>
    {% endif %}

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/ml_sft.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.3.1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui_1.12.1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon.css') }}">
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->


    <script src="{{ url_for('static', filename='js/jquery.min_3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min_1.14.7.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min_4.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui_1.12.1.js') }}"></script>

    <script src="{{ url_for('static', filename='js/ml_sft.js') }}"></script>

    <!--    <link rel="stylesheet" type=text/css href="css/ml_sft.css"/>-->

    <!--    <link rel="stylesheet" href="css/bootstrap_4.3.1.css">-->
    <!--    <link rel="stylesheet" href="css/jquery-ui_1.12.1.css">-->
    <!--    <link rel="stylesheet" href="css/icon.css'">-->

    <!--    <script src="js/jquery.min_3.3.1.js"></script>-->
    <!--    <script src="js/popper.min_1.14.7.js"></script>-->
    <!--    <script src="js/bootstrap.min_4.3.1.js"></script>-->
    <!--    <script src="js/jquery-ui_1.12.1.js"></script>-->

    <!--    <script src="js/ml_sft.js"></script>-->

</head>
<body>

<div class="sft-cnt-header">
    <div class="sft-header">
        <i class="material-icons" style="font-size:50px; color:white;">memory</i>
        Machine-<em>OLF</em>-action: a machine learning-driven framework
        <i class="material-icons" style="font-size:50px; color:white;">memory</i>

        <!--        <button type="button" class="btn btn-secondary">-->
        <!--            <h5><b><i class="material-icons" style="font-size:20px; color:white;">account_circle</i>THE AHUJA-->
        <!--                LAB<br></b></h5>-->
        <!--            <h6><i class="material-icons" style="font-size:20px; color:white;">public</i><u>https://ahuja-lab.in/</u>-->
        <!--            </h6>-->
        <!--        </button>-->
    </div>
</div>

<div class="sft-nav-menu">

    <!--    <button type="button" class="btn btn-light" title="Create New Job">-->
    <!--        <h6><b>Create New Job</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('create_job') }}" class="btn btn-light" role="button" title="Create New Job">
        <h6><b>Create New Job</b></h6>
    </a>

    <!--    <button type="button" class="btn btn-light" title="View All Jobs">-->
    <!--        <h6><b>View All Jobs</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('view_all_jobs') }}" class="btn btn-light" role="button" title="View All Jobs">
        <h6><b>View All Jobs</b></h6>
    </a>
    <!--    <button type="button" class="btn btn-light" title="View All Databases">-->
    <!--        <h6><b>View All Databases</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('view_all_dbs') }}" class="btn btn-light" role="button" title="View All Databases">
        <h6><b>View All Databases</b></h6>
    </a>

    <br>
</div>

<div id="mainContent">
    <div class="alerts-div">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span></a>
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</div>

</body>
</html>