<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ML Pipeline</title>
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/ml_olfa_logo.svg') }}" />

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/ml_sft.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.3.1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui_1.12.1.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min_3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min_1.14.7.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min_4.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui_1.12.1.js') }}"></script>

    <script src="{{ url_for('static', filename='js/ml_sft.js') }}"></script>

</head>
<body>

<div class="sft-cnt-header">
    <div class="sft-header">
        <img class="soft-title-logo" src="{{ url_for('static',filename='images/ml_olfa_logo.svg') }}" alt="logo"/>
        Machine-<em>OlF</em>-Action: a machine learning-driven framework
        <img class="soft-title-logo-flip" src="{{ url_for('static',filename='images/ml_olfa_logo.svg') }}" alt="logo"/>
    </div>
</div>

<div class="sft-nav-menu">

    <!--    <button type="button" class="btn btn-light" title="Create New Job">-->
    <!--        <h6><b>Create New Job</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('create_job') }}" class="btn btn-light btn-sec-cust" role="button" title="Create New Job">
        <h6><b>Create New Job</b></h6>
    </a>

    <!--    <button type="button" class="btn btn-light" title="View All Jobs">-->
    <!--        <h6><b>View All Jobs</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('view_all_jobs') }}" class="btn btn-light btn-sec-cust" role="button" title="View All Jobs">
        <h6><b>View All Jobs</b></h6>
    </a>
    <!--    <button type="button" class="btn btn-light" title="View All Databases">-->
    <!--        <h6><b>View All Databases</b></h6>-->
    <!--    </button>-->
    <a href="{{ url_for('view_all_dbs') }}" class="btn btn-light btn-sec-cust" role="button" title="View All Databases">
        <h6><b>View All Databases</b></h6>
    </a>

    <br>
</div>

<!--<div class="sft-form-cntnt-div bg-light" style="width:500px;background:wheat">-->
<!--<nav class="nav justify-content-center">-->
<!--  <a class="nav-item nav-link active" href="{{ url_for('create_job') }}"><h6><b>Create New Job</b></h6></a>-->
<!--  <a class="nav-item nav-link" href="{{ url_for('view_all_jobs') }}"><h6><b>View All Jobs</b></h6></a>-->
<!--  <a class="nav-item nav-link" href="{{ url_for('view_all_dbs') }}"><h6><b>View All Databases</b></h6></a>-->
<!--</nav>-->
<!--</div>-->

<div id="mainContent" class="sft-main-content">
    <div class="alerts-div">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span></a>
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</div>

<div class="sft-cnt-footer">
    <div class="sft-footer">
        Creators: <a href="https://twitter.com/cmohho" target="_blank">Mohit Choudhary</a> & <a href="#">Anku Gupta</a> | Contact: <a href="https://ahuja-lab.in/" target="_blank">The Ahuja
        Lab</a>
    </div>
</div>

</body>
</html>