{% extends "layout.html" %}
{% block content %}
<table class="table table-dark" align="center">
    <thead class="table-dark">
    <th>Database Name</th>
    <th>Brief Description</th>
    <th>Total Compounds</th>
    <th>Last updated on</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr>
        <td><a href="https://foodb.ca/" target="_blank">FOODB</a></td>
        <td>Food Database</td>
        <td>26,490</td>
        <td>21st March 2020</td>
        <td><a href="{{ url_for('download_db', filename='foodb_final_2020_03_21.csv') }}">Download</a></td>
    </tr>
    <tr>
        <td><a href="https://cb.imsc.res.in/imppat/home" target="_blank">IMPPAT</a></td>
        <td>Indian Medicinal Plants, Phytochemistry And Therapeutics</td>
        <td>1,512</td>
        <td>03rd March 2020</td>
        <td><a href="{{ url_for('download_db', filename='imppat_2020_03_16.csv') }}">Download</a></td>
    </tr>
    <tr>
        <td><a href="https://www.ebi.ac.uk/chebi/" target="_blank">ChEBI</a></td>
        <td>Chemical Entities of Biological Interest</td>
        <td>1,01,607</td>
        <td>03rd March 2020</td>
        <td><a href="{{ url_for('download_db', filename='chebi_ds_2020_03_09.csv') }}">Download</a></td>
    </tr>
    <tr>
        <td><a href="https://hmdb.ca/" target="_blank">HMDB</a></td>
        <td>Human Metabolome Database</td>
        <td>1,14,005</td>
        <td>19th August 2019</td>
        <td><a href="{{ url_for('download_db', filename='hmdb-2019-08-19.csv') }}">Download</a></td>
    </tr>
    </tbody>

</table>
{% endblock content %}